body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f6f5f7 ;
    /*background-image: url("../assets/stephen.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
}

/* Navbar */
.sidebar {
    height: 100vh;
    background-image: linear-gradient(aqua, rgb(15, 110, 110));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: black;
}

.current {
    background-color: #FF4B2B;
    border-radius: 8px;
    box-shadow: 2px 5px 5px white;
    transition: all .3s;
}

.current:hover {
    background-color: orange;
    border-radius: 8px;
    box-shadow: 2px 5px 5px white;
    transform: transoform:translateY(-1px);
}

.sidebar-link {
    transition: all .4s;
}

.sidebar-link:hover {
    background-color: orange;
    border-radius: 5px;
}

.top-bar {
    background-color: rgb(96, 197, 197);
}